*{
    margin: 0;
    padding: 0;
text-decoration: none;
list-style: none;
}

body{
    font-family: 'Roboto Serif', serif;
    font-style: normal;
    font-weight: 400;
  }

  header{
    background: url(../img/Rectangle.png);
    /* background-repeat: no-repeat; */
    background-size: cover;

  }
nav{
    padding-top: 35px;
    display: flex;
    align-items: center;
}

  .product{
    display: flex;
    justify-content: flex-end;
  }

  .nav-item{
    margin-right: 40px;
  }

  .login{
    padding: 10px 27px;
    border-radius: 5px;
    border: 1px solid #00B289;
    margin-top: -12px;
    margin-left: 30px;
    font-weight: 700;
    font-size: 13px;
    color: #00B289;
    background-color: #fff;
  }
  .login:hover{
    color: #fff;
    background-color: #00B289;
  }

  .text{
    padding-bottom: 25px;
    padding-top: 150px;
    font-weight: 400;
    font-size: 45px;
    line-height: 60px;  
    color: #4C4D5F;
    width: 450px;
  }

  .bonsa{
    font-size: 20px;
    line-height: 32px;
    color: #4C4D5F;
    width: 520px;
    padding-bottom: 36px;
  }

  .email{
    padding: 25px 179px 25px 28px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #00B289;
    

  }
  .start{
    padding: 25px 30px;
    margin-left: -7px;
    border-radius: 0 5px 5px 0;
    background-color: #fff;
    border: 1px solid #00B289;
  }
  .start:hover{
    color: #fff;
    background-color: #00B289;
  }

  .make{
    padding-top: 166px;
    padding-bottom: 35px;
  }
  .sectionp{
    margin: auto;
    width: 530px;
    color: gray;
    padding-bottom: 80px;
  }

  .picture{
    display: flex;
    justify-content: space-around;
    padding-bottom: 234px;
  }

  .Shape_but{
    /* padding: 23px 180px 23px 64px; */
    width: 360px;
    height: 70px;
    background-color: #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: bisque;
    text-align: left;
    font-weight: 400;
font-size: 23px;
  }

  .Shape_but:hover{
    box-shadow: 1px 1px 15px green;
    box-sizing: content-box;
    color: #00B289;
  }
  .shape{
padding-right: 20px;
padding-left: 20px;
  }

  .win{
    padding-top: 42px;
    text-align: start;
    font-weight: 400;
  font-size: 44px;
  }

  .with{
    width: 340px;
    color: gray;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
  }
  
  .section_text{
   background-repeat: no-repeat;
   background-size: cover;
    background: url(./img/Rectangle1.png);
    padding-bottom: 300px;
    position: relative;
  }

  .explore{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    color: #00B289;


  }
  .girl{
margin-left: 150px;
width: 410px;
height: 306px;
  }

  .trusted{
    text-align: center;
    padding-top: 230px;
    padding-bottom: 48px;
    font-size: 46px;
    margin: auto;

  }

  .whether{
    width: 700px;
    color: gray;
    font-size: 25px;
    margin: auto;
    text-align: center;
    padding-bottom: 85px;
  }

  .card1{
  padding-bottom: 30px;
  }

  .built{
    font-weight: 700;
    font-size: 23px;
    padding-bottom: 14px;
    padding-top: 30px;
  }

  .we{
    font-weight: 400;
    font-size: 17px;
    color: #4C4D5F9C;
  width: 350px;  }

  .dont{
    padding-top: 200px;
  }