* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* 
header{
    background-image: url(./img-asadbek/Rectangle.png);
    background: #E5E5E5;
} */

.box {
    margin: 32px 0px 0px 0px;
    /* position: relative; */
}

.logo {
    position: absolute;
    margin: 34px 0px 0px 60px;


}



.product {
    position: absolute;
    margin: 38px 0px 0px 1020px;
    font-size: 17px;
    color: #4C4D5F;

}


.log_in {
    position: absolute;
    margin: 30px 0px 30px 1120px;
    padding: 7px 14px;
    font-size: 13px;
    color: #00B289;
    background: transparent;
    border: 2px solid #00B289;
    border-radius: 4px;
    transition: opacity 0.15s;
}

.log_in:hover {
    opacity: 0.7;
}

.log_in:active {
    opacity: 0.4;
}

.log_in:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}


.start {
    position: absolute;
    margin: 30px 0px 0px 1200px;
    padding: 8px 20px;
    font-size: 13px;
    color: #FFFFFF;
    background: #00B289;
    border: 1px solid #00B289;
    border-radius: 4px;
    transition: opacity 0.15s;
}

.start:hover {
    opacity: 0.7;
}

.start:active {
    opacity: 0.4;
}

.start:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}


.ever {
    margin: 250px 850px 30px 60px;
    font-weight: 500;
    font-size: 45px;
    line-height: 62px;
    color: #4C4D5F;
}

.bonsai {
    margin: 0px 80px 30px 60px;
}

.box2 {
    position: relative;
}

.enter-btn {
    margin: 10px 0px 0px 60px;
    padding: 15px 90px 15px 20px;
    background: #FFFFFF;
    border: 2px solid #01B289;
    border-radius: 4px 0px 0px 4px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.39);
    transition: opacity 0.15s;
}

.entert-btn:hover {
    opacity: 0.8;
}

.entert-btn:active {
    opacity: 0.5;
}

.entert-btn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}



.free-btn {
    position: absolute;
    margin: 10.5px 2px 0px 0px;
    padding: 17px 20px 16px 15px;
    background: #00B289;
    border: 2px solid #01B289;
    border-radius: 0px 4px 4px 0px;
    transition: opacity 0.15s;
}

.free-btn:hover {
    opacity: 0.8;

}

.free-btn:active {
    opacity: 0.5;
}

.free-btn:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
}

.section-1 {
    margin-top: 166px;
}


.Make-heading {
    font-weight: 500;
    font-size: 43px;
    text-align: center;
    color: #4C4D5F;

}

.bonsai-2 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: rgba(76, 77, 95, 0.66);
    margin: 35px 320px 80px 320px;
}

.without {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #4C4D5F;
    padding: 0px 20px 45px 0px;
}

.with {
    font-weight: 700;
    font-size: 23px;
    text-align: center;
    color: #4C4D5F;
    padding-right: 50px;
    padding: 0px 20px 45px 0px;
}
.left{
padding: 0px 140px 0px 80px;
}
.right{
padding: 0px 170px 0px 100px;
}

